<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet facere ipsam voluptatem temporibus error magni, quasi dolores hic ab at voluptatum? Velit consequatur cum dolorem obcaecati pariatur eum quis soluta!</p>
    </div>
</div>