<div class="jumbotron-mt-4 bg-light shadow opacity-10 p-3 rounded"> <!-- jumbotron es un cuadro bien grande, mt margin top -->
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1> <!--Display-4 pone la letra mas fina,    lead enfatiza el texto -->
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas illo et, deleniti debitis ipsam repellat quia natus asperiores, iusto rem eaque libero fugiat labore ducimus cum in alias aut commodi!</p>
    <hr class="my-4"> <!-- margen arriba y abajo -->
    <a href="https://chat-app-node.herokuapp.com/" class="btn btn-primary btn-lg">Chat</a> <!-- btn es para que se vea como un boton, btn-primary es un color azul, btn-lg es para hacerlo crecer -->
</div>